<!-- WARNING check the controller name -->
<div ng-controller="exeUserTenderReglamentController" ng-cloak>


    <div class="uk-container uk-width-5-6 uk-ali1gn-right uk-background-muted uk-height-viewport">
        <div class="uk-section uk-margin-remove-top">

            <div uk-card class="uk-card-body uk-width-expand uk-card-default">
                <div class="uk-column-1-2 uk-column-divider">
                    <div>
                        <p class="uk-text-lead uk-margin-remove">Регламент</p>
                        <ul class="uk-breadcrumb uk-float-left uk-margin-remove uk-padding-remove uk-text-meta uk-text-muted">
                            <li><a href="#">Название</a></li>
                            <li><a href="#">ООО Дайджест</a></li>
                            <li class="uk-disabled"><a>События</a></li>
                            <li class="uk-disabled"><a>Регламент</a></li>
                        </ul>
                    </div>
                    <form class="uk-search uk-search-large">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search" placeholder="Искать...">
                    </form>
                </div>
                <hr>
                <button class="uk-button uk-button-text uk-margin-medium-right" type="button" uk-toggle="target: #filter; animation: uk-animation-slide-top-small">Фильтр</button>
                <button class="uk-button uk-button-text" href="#modal-sections" uk-toggle>Добавить регламент</button>
                <div id="modal-sections" uk-modal>
                    <div class="uk-modal-dialog uk-padding">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header uk-width-expand uk-margin-small-bottom">
                            <h3>Добавление нового регламента</h3>
                        </div>
                        <form class="uk-form-stacked">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Название</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Шприц">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Сирийный номер</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="12414">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Инвентарный номер</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="456456">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-select">Тип</label>
                                <div class="uk-form-controls">
                                    <select class="uk-select" id="form-stacked-select">
                                        <option>Бахилы</option>
                                        <option>Шприцы</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить</button>
                            <button class="uk-button uk-button-primary" type="button">Сохранить</button>
                        </div>
                    </div>
                </div>
                <div id="filter" class="uk-container uk-padding-small uk-margin-small-top" hidden>
                    <div class="uk-column-1-2 uk-column-divider">
                        <p><ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 1% 0 0 0;">Статус:</li>
                        <li uk-filter-control=".tag-added"><a href="#">Создано</a></li>
                        <li uk-filter-control=".tag-done"><a href="#">Выполнено</a></li>
                        <li uk-filter-control=".tag-ndone"><a href="#">Не выполнено</a></li>
                        <li uk-filter-control=".tag-inpr"><a href="#">В работе</a></li>
                        <li uk-filter-control=".tag-decl"><a href="#">Отменено</a></li>
                    </ul></p>
                        <p><ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 2% 0 0 0;">Доверенно лицо: </li>
                        <li><form class="uk-search uk-search-default"><input class="uk-search-input" type="search" placeholder="..."></form></li>
                    </ul></p>
                        <p><ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 3% 0 0 0;">Производители: </li>
                        <li><form class="uk-search uk-search-default"><input class="uk-search-input" type="search" placeholder="..."></form></li>
                    </ul></p>
                        <p><ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 1% 0 0 0;">Тип:</li>
                        <li uk-filter-control=".tag-added"><a href="#">Бахилы</a></li>
                        <li uk-filter-control=".tag-done"><a href="#">Шприцы</a></li>
                    </ul></p>
                    </div>
                </div>
            </div>
            <div class="uk-container">
                <table class="uk-table uk-table-divider">
                    <thead>
                    <tr>
                        <th>Подрядчик</th>
                        <th>Оборудование</th>
                        <th>Дата</th>
                        <th>Уровень Риска</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ООО Да</td>
                        <td>Аппарат МРТ</td>
                        <td>16.01.2019</td>
                        <td><span class="uk-label">Обычный</span></td>
                    </tr>
                    <tr>
                        <td>ООО Синиие линии</td>
                        <td>30 дрелей для зубов</td>
                        <td>23.05.2019</td>
                        <td><span class="uk-label uk-label-success">Без риска</span></td>
                    </tr>
                    <tr>
                        <td>МашСпецСтрой</td>
                        <td>Каляски детские</td>
                        <td>22.05.2019</td>
                        <td><span class="uk-label uk-label-warning">Опасно</span></td>
                    </tr>
                    <tr>
                        <td>ООО ПДЖ</td>
                        <td>Рентген</td>
                        <td>21.12.2020</td>
                        <td><span class="uk-label uk-label-danger">Высокий риск</span></td>
                    </tr>
                    <tr>
                        <td>Невероятные</td>
                        <td>Стираильная машина для санитарного белья</td>
                        <td>21.12.2020</td>
                        <td><span class="uk-label uk-label-danger">Высокий риск</span></td>
                    </tr>
                    <tr>
                        <td>ООО Синиие линии</td>
                        <td>30 дрелей для зубов</td>
                        <td>23.05.2019</td>
                        <td><span class="uk-label uk-label-success">Без риска</span></td>
                    </tr>
                    <tr>
                        <td>ООО Синиие линии</td>
                        <td>30 дрелей для зубов</td>
                        <td>23.05.2019</td>
                        <td><span class="uk-label uk-label-success">Без риска</span></td>
                    </tr>
                    <tr>
                        <td>ООО Да</td>
                        <td>Аппарат МРТ</td>
                        <td>16.01.2019</td>
                        <td><span class="uk-label">Обычный</span></td>
                    </tr>
                    </tbody>
                </table>
                <ul class="uk-pagination uk-flex-center" uk-margin>
                    <li><a href="#"><span uk-pagination-previous></span></a></li>
                    <li><a href="#">1</a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li class="uk-active"><span>7</span></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#"><span uk-pagination-next></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="offcanvas-flip"uk-offcanvas="mode: push; flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                <li class="uk-active"><a href="#">ООО Дайджест</a></li>
                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                <a href="" class="uk-icon-button" uk-icon="google-plus"></a>
                <li class="uk-parent">
                <li><a href="#">Мои партнеры</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">ООО Сектор</a></li>
                        <li><a href="#">ОАО Закат</a></li>
                    </ul>
                </li>
                <li><span class="uk-margin-small-right uk-margin-small-bottom" uk-icon="icon: clock"></span>История</li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>  Выйти</a></li>
            </ul>
        </div>
    </div>
</div>





