<!-- WARNING check the controller name -->
<div ng-controller="exeUserTenderHardwareController" ng-cloak>


    <!-- filtre -->
    <div class="uk-container uk-section-muted uk-width-5-6 uk-pos1ition-top-right uk-padding-small">


        <div class="uk-card uk-card uk-card-secondary uk-card-body uk-width-expand">
            <div class="uk-column-1-2 uk-column-divider">
                <div>
                    <p class="uk-text-lead uk-margin-remove">Оборудование</p>
                    <ul class="uk-breadcrumb uk-float-left uk-margin-remove uk-padding-remove uk-text-meta uk-text-muted">
                        <!--<li><a href="#">Название</a></li>-->
                        <li><a href="#">ФГУП Больница №3</a></li>
                        <li class="uk-disabled"><a>Оборудование</a></li>
                    </ul>
                </div>
                <form class="uk-search uk-search-large">
                    <span uk-search-icon></span>
                    <input ng-model="exe.filter"
                           ng-model-options="{debounce: 400}" class="uk-search-input" type="search"
                           placeholder="Искать...">
                </form>
            </div>
            <hr>
            <button class="uk-button uk-button-text uk-margin-medium-right" type="button"
                    uk-toggle="target: #filter; animation: uk-animation-slide-top-small">Фильтр
            </button>
            <button class="uk-button uk-button-text" href="#modal-sections" uk-toggle>Добавить оборудование</button>
            <div id="modal-sections" uk-modal>
                <div class="uk-modal-dialog uk-padding">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header uk-width-expand uk-margin-small-bottom">
                        <h3>Добавление нового оборудования</h3>
                    </div>
                    <form class="uk-form-stacked">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Название</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Шприц">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Сирийный номер</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="12414">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Инвентарный номер</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="456456">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-select">Тип</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" id="form-stacked-select">
                                    <option>Бахилы</option>
                                    <option>Шприцы</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить</button>
                        <button class="uk-button uk-button-primary" type="button">Сохранить</button>
                    </div>
                </div>
            </div>
            <div id="filter" class="uk-container uk-background-secondary uk-margin-medium-top" hidden>
                <div class="uk-column-1-2 uk-column-divider">
                    <p>
                    <ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 1% 0 0 0;">Статус:</li>
                        <li uk-filter-control=".tag-added"><a href="#">Создано</a></li>
                        <li uk-filter-control=".tag-done"><a href="#">Выполнено</a></li>
                        <li uk-filter-control=".tag-ndone"><a href="#">Не выполнено</a></li>
                        <li uk-filter-control=".tag-inpr"><a href="#">В работе</a></li>
                        <li uk-filter-control=".tag-decl"><a href="#">Отменено</a></li>
                    </ul>
                    </p>
                    <p>
                    <ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 2% 0 0 0;">Доверенно лицо:</li>
                        <li>
                            <form class="uk-search uk-search-default"><input class="uk-search-input" type="search"
                                                                             placeholder="..."></form>
                        </li>
                    </ul>
                    </p>
                    <p>
                    <ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 3% 0 0 0;">Производители:</li>
                        <li>
                            <form class="uk-search uk-search-default"><input class="uk-search-input" type="search"
                                                                             placeholder="..."></form>
                        </li>
                    </ul>
                    </p>
                    <p>
                    <ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 1% 0 0 0;">Тип:</li>
                        <li uk-filter-control=".tag-added"><a href="#">УЗИ</a></li>
                        <li uk-filter-control=".tag-done"><a href="#">МРТ</a></li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- table -->
    <div class="uk-section uk-section-default uk-background-muted uk-display" style="margin-top: -150px;">
        <div class="uk-container uk-margin-remove-right uk-wi1dth-5-6">
            <div uk-grid
                 class="js-filter uk-grid-small uk-text-small uk-card-small uk-margin-small-left uk-margin-medium-top">
                <div id="filter1" class="uk-width-1-1 uk-card-large uk-card-body" hidden=""></div>
                <div id="filter2" class="uk-width-1-1 uk-card-large uk-card-body" hidden=""></div>
                <div id="filter3" class="uk-width-1-1 uk-card uk-card-body" hidden=""></div>
                <div id="filter4" class="uk-width-1-1 uk-card uk-card-body" hidden=""></div>


                <!--Плашка 1-->
                <div ng-repeat="elem in exe.hardwares | filter:exe.filter"
                     ng-click="openHardwareElem(elem)"
                     class="tag-done uk-width-1-1 uk-card uk-box-shadow-small uk-card-hover uk-card-default uk-card-body uk-width-1-1 uk-margin-medium-top"
                     uk-toggle="target: #toggle-custom{{::elem.id}}; animation: uk-animation-slide-top-small">
                    <div><span uk-icon="icon: star" class="uk-float-right uk-margin-small-top"
                               style="color: #FFDF00"></span></div>
                    <div><span id="toggle-custom{{::elem.id}}" uk-icon="icon: chevron-down"
                               class="uk-float-left  uk-margin-small-top"></span></div>
                    <div><span id="toggle-custom{{::elem.id}}" uk-icon="icon: chevron-up"
                               class="uk-float-left  uk-margin-small-top" hidden></span></div>
                    <div uk-grid class="uk-margin-remove">
                        <div>
                            <p class="uk-text-large uk-margin-remove-bottom uk-margin-xlarge-right">{{::elem.name}}
                                {{::elem.invent}}</p>
                        </div>
                        <div class="uk-container uk-width-auto uk-height-auto uk-text-muted"
                             style="border: 2px solid #ededed; border-radius: 7px">
                            <p style="margin: 8% 0 0 0; padding: 0 12px 0">{{::elem.typefull.name}}</p>
                        </div>

                        <div ng-if="$first" style="margin: 1% 0 0 0"><span uk-icon="social" > </span> 256<span uk-icon="arrow-up"style="color:green"></span></div>
                        <div ng-if="!($first || $last)" style="margin: 1% 0 0 0"><span uk-icon="social" > </span> 249<span uk-icon="arrow-up"style="color:green"></span></div>
                        <div ng-if="$last" style="margin: 1% 0 0 0"><span uk-icon="social" > </span> 126<span uk-icon="arrow-down"style="color:red"></span></div>
                        <!--<div class="uk-container uk-width-auto uk-height-auto uk-margin-small-left uk-text-muted" style="border: 2px solid #ededed; border-radius: 7px">-->
                        <!--<p style="margin: 8% 0 0 0; padding: 0 12px 0">шприцы</p>-->
                        <!--</div>-->
                    </div>

                    <!--допинфо-->
                    <div>
                        <div>
                            Серийный № {{::elem.serial}}
                            <span class="label label-{{::elem.enddatediffclass}}">{{::elem.enddatedifffull}} дн</span>
                            {{::elem.typefull.name}}
                            {{::elem.manufacturerfull.name}}
                            {{::elem.kontraktfull.name}}
                        </div>

                        <hr ng-if="elem.active" id="toggle-custom{{::elem.id}}"
                            class="uk-margin-medium-top uk-margin-medium-bottom" hidden>
                        <div ng-if="elem.active" id="toggle-custom{{::elem.id}}"
                             class="uk-container uk-width-expand uk-text-meta" hidden>
                            <div class="uk-text-center uk-column-1-5 uk-width-auto uk-text-mutes">
                                <p>Статус
                                <p>
                                <p>Событие
                                <p>
                                <p>Инвентарный номер
                                <p>
                                <p>Дата ввода/вывода
                                <p>
                                <p>Ответственные лица
                                <p>
                            </div>
                        </div>


                        <!--события-->
                        <div ng-if="elem.active" ng-repeat="event in exe.history | filter:exe.filter"
                             id="toggle-custom{{::elem.id}}"
                             class="uk-box-shadow-small uk-card uk-card-default uk-background-muted uk-card-body"
                             hid1den>
                            {{event.name}}
                            <div class="uk-column-1-5 uk-column-divider">
                                <p>
                                    <span class="label label-{{event.statusofeventfull.class}}">
                                        <i class="fa fa-{{event.statusofeventfull.icon}}"></i>
                                        {{event.statusofeventfull.name}}
                                    </span>
                                <p>
                                <p>{{event.name}}
                                <p>
                                <p>{{event.nameevent}}
                                <p>
                                <p>{{event.hardwarefull.name}}
                                <p>
                                <p>{{event.statusworkfull.name}}
                                    {{event.useroutfull.name}}
                                <p>
                            </div>
                        </div>

                        <!--<hr id="toggle-custom1" class="uk-margin-medium-top uk-margin-remove-bottom" hidden>-->
                        <!--<p id="toggle-custom1"class="uk-text-small uk-text-muted uk-text-center uk-margin-remove-bottom"hidden>Нажмите здесь чтобы увидеть еще</p>-->
                    </div>
                </div>

            </div>
        </div>
    </div>


    <br>

    <!--<h4>-->
        <!--<i class="fa fa-stethoscope"></i>-->
        <!--Наше оборудование: {{exe.org.kontragent.name}}-->
        <!--&lt;!&ndash;<span class="pull-right">&ndash;&gt;-->
        <!--&lt;!&ndash;<a ng-click="bzPltfmAddTab({title: 'Новый *', exe: {name: 'exe_form'}, obj:{type: 'doc_event', id: 0,}})"&ndash;&gt;-->
        <!--&lt;!&ndash;class="btn btn-sm btn-success pull-left">Новый заказ</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->

    <!--</h4>-->

    <!--<br>-->

    <!--<div class="box box-info">-->
        <!--<div class="box-header with-border">-->
            <!--<h3 class="box-title">Оборудование</h3>-->

            <!--<div class="box-tools pull-right">-->
                <!--&lt;!&ndash;filter&ndash;&gt;-->
                <!--<div class="input-group input-group-sm bz-filter-input" style="">-->
                    <!--<i class="fa fa-search search-icon"></i>-->
                    <!--<input ng-model="exe.filter"-->
                           <!--ng-model-options="{debounce: 400}" type="text"-->
                           <!--class="form-control search-input" placeholder="Фильтр...">-->
                    <!--<i ng-if="exe.filter" ng-click="exe.filter=''"-->
                       <!--class="close-icon"> × </i>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-header &ndash;&gt;-->
        <!--<div class="box-body">-->
            <!--<div class="table-responsive">-->

                <!--<div ng-if="exe.loading">-->
                    <!--<h1 class="text-blue text-center">-->
                        <!--<i class="fa fa-circle-o-notch fa-spin"></i>-->
                    <!--</h1>-->
                <!--</div>-->

                <!--<table class="table no-margin">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Наименование</th>-->
                        <!--<th>Серийный №</th>-->
                        <!--<th>Инвент. №</th>-->
                        <!--<th>До списания</th>-->
                        <!--<th>Тип</th>-->
                        <!--<th>Производитель</th>-->
                        <!--<th>Контракт</th>-->
                        <!--<th>История</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->

                    <!--<tr-->
                            <!--style="cursor: pointer;"-->
                            <!--ng-repeat="elem in exe.hardwares | filter:exe.filter"-->
                    <!--&gt;-->
                        <!--<td ng-click="openElem(elem)">{{::elem.name}}</td>-->
                        <!--<td ng-click="openElem(elem)">{{::elem.serial}}</td>-->
                        <!--<td ng-click="openElem(elem)">{{::elem.invent}}</td>-->
                        <!--<td ng-click="openElem(elem)"><span class="label label-{{::elem.enddatediffclass}}">{{::elem.enddatedifffull}} дн</span>-->
                        <!--</td>-->
                        <!--<td ng-click="openElem(elem)">{{::elem.typefull.name}}</td>-->
                        <!--<td ng-click="openElem(elem)">{{::elem.manufacturerfull.name}}</td>-->
                        <!--<td ng-click="openElem(elem)">{{::elem.kontraktfull.name}}</td>-->
                        <!--<td>-->
                            <!--<a ng-click="bzPltfmAddTab({title: 'История', closeIcon:true, icon:'history', exe:{path:'user', name: 'exe_tender', subName:'history'}, obj: {id: elem.id}})"-->
                               <!--class="btn btn-sm btn-default pull-left">-->
                                <!--<i class="fa fa-history text-orange"></i>-->
                            <!--</a>-->
                        <!--</td>-->

                    <!--</tr>-->

                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.table-responsive &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
        <!--<div class="box-footer clearfix">-->
            <!--&lt;!&ndash;<a ng-click="bzPltfmAddTab({title: 'Заказы', exe: {name: 'exe_journal'}, obj:{type: 'doc_event',}})"&ndash;&gt;-->
            <!--&lt;!&ndash;href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Журнал заказов</a>&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.box-footer &ndash;&gt;-->
    <!--</div>-->


</div>



