<!-- WARNING check the controller name -->
<div ng-controller="exeUserTenderServiceController" ng-cloak>

    <br>

    <h4>
        Медицинское учреждение: {{exe.org.kontragent.name}}
    </h4>

    <br>

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">События</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">

                <div ng-if="exe.loading">
                    <h1 class="text-blue text-center">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </h1>
                </div>

                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Поломка</th>
                        <th>Оборудование</th>
                        <th>Статус</th>
                        <th>Инициатор</th>
                        <th>Исполнитель</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr
                            style="cursor: pointer;"
                            ng-repeat="elem in exe.events track by $index"
                            ng-click="bzPltfmAddTab({title: 'Событие', exe: {name: 'exe_form'}, obj:{type: 'doc_event', id: elem.id,}})"
                    >
                        <td>{{::elem.name}}</td>
                        <td>{{::elem.nameevent}}</td>
                        <td>{{::elem.hardwarefull.name}}</td>
                        <td>{{::elem.statusworkfull.name}}</td>
                        <td>
                            <span class="label label-{{::elem.statusofeventfull.class}}">
                                <i class="fa fa-{{::elem.statusofeventfull.icon}}"></i>
                                {{::elem.statusofeventfull.name}}
                            </span>
                        </td>
                        <td>{{::elem.userinfull.name}}</td>
                        <td>{{::elem.useroutfull.name}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <a ng-click="bzPltfmAddTab({title: 'Новый *', exe: {name: 'exe_form'}, obj:{type: 'doc_event', id: 0,}})"
               class="btn btn-sm btn-info btn-flat pull-left">Новый заказ</a>
            <a ng-click="bzPltfmAddTab({title: 'Заказы', exe: {name: 'exe_journal'}, obj:{type: 'doc_event',}})"
               href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Журнал заказов</a>
        </div>
        <!-- /.box-footer -->
    </div>


</div>



