<!-- WARNING check the controller name -->
<div ng-controller="exeUserTenderHistoryController" ng-cloak>

    <br>

    <h4>
        <i class="fa fa-stethoscope"></i>
        История событий по оборудованию:
        <h3>{{::exe.hardware.name}} Серийный: {{::exe.hardware.serial}}</h3>
        <!--<span class="pull-right">-->
        <!--<a ng-click="bzPltfmAddTab({title: 'Новый *', exe: {name: 'exe_form'}, obj:{type: 'doc_event', id: 0,}})"-->
        <!--class="btn btn-sm btn-success pull-left">Новый заказ</a>-->
        <!--</span>-->

    </h4>

    <br>

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">События</h3>

            <div class="box-tools pull-right">
                <!--filter-->
                <div class="input-group input-group-sm bz-filter-input" style="">
                    <i class="fa fa-search search-icon"></i>
                    <input ng-model="exe.filter"
                           ng-model-options="{debounce: 400}" type="text"
                           class="form-control search-input" placeholder="Фильтр...">
                    <i ng-if="exe.filter" ng-click="exe.filter=''"
                       class="close-icon"> × </i>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">

                <div ng-if="exe.loading">
                    <h1 class="text-blue text-center">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </h1>
                </div>

                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Поломка</th>
                        <th>Оборудование</th>
                        <th>Состояние оборудования</th>
                        <th>Статус</th>
                        <!--<th>Инициатор</th>-->
                        <th>Исполнитель</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr
                            style="cursor: pointer;"
                            ng-repeat="elem in exe.history | filter:exe.filter"
                            ng-click="bzPltfmAddTab({title: 'Событие', exe: {name: 'exe_form'}, obj:{type: 'doc_event', id: elem.id,}})"
                    >
                        <td>{{::elem.name}}</td>
                        <td>{{::elem.nameevent}}</td>
                        <td>{{::elem.hardwarefull.name}}</td>
                        <td>{{::elem.statusworkfull.name}}</td>
                        <td>
                            <span class="label label-{{::elem.statusofeventfull.class}}">
                                <i class="fa fa-{{::elem.statusofeventfull.icon}}"></i>
                                {{::elem.statusofeventfull.name}}
                            </span>
                        </td>
                        <!--<td>{{::elem.userinfull.name}}</td>-->
                        <td>{{::elem.useroutfull.name}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <!--<a ng-click="bzPltfmAddTab({title: 'Заказы', exe: {name: 'exe_journal'}, obj:{type: 'doc_event',}})"-->
            <!--href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Журнал заказов</a>-->
        </div>
        <!-- /.box-footer -->
    </div>


</div>



