<!-- WARNING check the controller name -->
<div ng-controller="exeUserTenderSupplierController" ng-cloak>




    <div class="uk-container uk-width-5-6 uk-al1ign-right uk-background-muted uk-height-viewport">
        <div class="uk-section uk-margin-remove-top">

            <div uk-card class="uk-card-body uk-width-expand uk-card-default uk-background-muted">
                <div class="uk-column-1-2 uk-column-divider">
                    <div>
                        <p class="uk-text-lead uk-margin-remove">Поставщики</p>
                        <ul class="uk-breadcrumb uk-float-left uk-margin-remove uk-padding-remove uk-text-meta uk-text-muted">
                            <li><a href="#">Название</a></li>
                            <li><a href="#">ООО Дайджест</a></li>
                            <li class="uk-disabled"><a>Поставщики</a></li>
                        </ul>
                    </div>
                    <form class="uk-search uk-search-large">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search" placeholder="Искать...">
                    </form>
                </div>
                <hr>
                <button class="uk-button uk-button-text uk-margin-medium-right" type="button" uk-toggle="target: #filter; animation: uk-animation-slide-top-small">Фильтр</button>
                <button class="uk-button uk-button-text" href="#modal-sections" uk-toggle>Добавить Поставщика</button>
                <div id="modal-sections" uk-modal>
                    <div class="uk-modal-dialog uk-padding">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-modal-header uk-width-expand uk-margin-small-bottom">
                            <h3>Добавление нового регламента</h3>
                        </div>
                        <form class="uk-form-stacked">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Название</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Шприц">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Сирийный номер</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="12414">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Инвентарный номер</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="456456">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-select">Тип</label>
                                <div class="uk-form-controls">
                                    <select class="uk-select" id="form-stacked-select">
                                        <option>Бахилы</option>
                                        <option>Шприцы</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить</button>
                            <button class="uk-button uk-button-primary" type="button">Сохранить</button>
                        </div>
                    </div>
                </div>
                <div id="filter" class="uk-container uk-padding-small uk-margin-small-top" hidden>
                    <div class="uk-column-1-2 uk-column-divider">
                        <p><ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 1% 0 0 0;">Статус:</li>
                        <li uk-filter-control=".tag-added"><a href="#">Создано</a></li>
                        <li uk-filter-control=".tag-done"><a href="#">Выполнено</a></li>
                        <li uk-filter-control=".tag-ndone"><a href="#">Не выполнено</a></li>
                        <li uk-filter-control=".tag-inpr"><a href="#">В работе</a></li>
                        <li uk-filter-control=".tag-decl"><a href="#">Отменено</a></li>
                    </ul></p>
                        <p><ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 2% 0 0 0;">Доверенно лицо: </li>
                        <li><form class="uk-search uk-search-default"><input class="uk-search-input" type="search" placeholder="..."></form></li>
                    </ul></p>
                        <p><ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 3% 0 0 0;">Производители: </li>
                        <li><form class="uk-search uk-search-default"><input class="uk-search-input" type="search" placeholder="..."></form></li>
                    </ul></p>
                        <p><ul class="uk-subnav uk-subnav-pill uk-text-small">
                        <li style="margin: 1% 0 0 0;">Тип:</li>
                        <li uk-filter-control=".tag-added"><a href="#">Бахилы</a></li>
                        <li uk-filter-control=".tag-done"><a href="#">Шприцы</a></li>
                    </ul></p>
                    </div>
                </div>
            </div>
            <div class="uk-container">
                <div uk-slider="center: true" class="uk-margin-large-top">
                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                            <li>
                                <div class="uk-card uk-card-default uk-card-hover">
                                    <div class="uk-card-media-top">
                                        <img src="https://negosentro.com/wp-content/uploads/2018/10/Businessman.jpeg" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Сергей Викторович <div style="margin: 1% 0 0 0"><span uk-icon="social" ></span> 20<span uk-icon="arrow-up"style="color:green"></span></div></h3>
                                        <p>Главное умственное усилие в игре, которую ведет бизнес сосредоточено на основной проблеме — захвате денег потребителя до того, как это сделает кто-то другой. (Стюарт Чейз)</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="https://image.freepik.com/free-photo/skyscraper-view-city-leader-window-frame_1134-1034.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Иван Бизнесменов<div style="margin: 1% 0 0 0"><span uk-icon="social" > </span> 57<span uk-icon="arrow-down"style="color:red"></span></div></h3>
                                        <p>Бизнес — это всегда борьба. В нем всегда есть препятствия и конкуренты. В нем не найти открытых дорог, кроме той широкой, что ведет к провалу. Любой большой успех был достигнут за счет борьбы. Все победители покрыты шрамами... Успеха добивается горстка самых эффективных. Это те немногие, у кого хватает амбиций и силы воли для того, чтобы развивать себя. (Герберт Н. Кассон)</p>
                                        <p class="uk-text-meta">Позвонить</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="https://image.freepik.com/free-photo/young-businessman-with-digital-tablet-office_52137-3795.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Али Алиев	<div style="margin: 1% 0 0 0"><span uk-icon="social" > </span> 74<span uk-icon="arrow-up"style="color:green"></span></div></h3>
                                        <p>Любой, кто утверждает, что бизнесмены имеют дело только с фактами, а не с выдумкой, никогда не читал старые пятилетние планы. (Малькольм Форбс)</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="https://ied.eu/wp-content/uploads/2018/04/entrepreneur-1.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Саслан Асланов <div style="margin: 1% 0 0 0"><span uk-icon="social" > </span> 105<span uk-icon="arrow-down"style="color:red"></span></div></h3>
                                        <p>LНикто не рождается исполнительным директором, но никто вам и не скажет об этом. Судя по тому, что пишут в журналах, можно подумать, что Марк Цукерберг проснулся в один прекрасный день и решил создать новый способ общения между людьми, создав для этого компанию с миллиардными оборотами. Но все было не так. (Дрю Хьюстон)</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="https://image.freepik.com/free-photo/shipping-businessman-management-occupation-industrial_1134-1003.jpg" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Бакар Мизюкин <div style="margin: 1% 0 0 0"><span uk-icon="social" > </span> 169<span uk-icon="arrow-up"style="color:green"></span><span uk-icon="arrow-up"style="color:green"></span></div></h3>
                                        <p>Современный бизнес требует того, чтобы продавцы были бизнесменами в лучшем смысле этого слова, то есть людьми, знающими все особенности продукта или услуги, которую они предлагают... людьми, которые могут сделать грамотную и эффективную презентацию, и, самое главное, людьми, имеющими современное представление о том, что такое обслуживание клиента. (Хью В. Кобурн</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                </div>
                <hr>
                <div>
                    <table class="uk-table">
                        <caption>Номера телефонов</caption>
                        <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Женат/Не Женат</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <td>Сергей Викторович</td>
                            <td>+7921591159</td>
                            <td>Женат</td>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>Иван Бизнесменов</td>
                            <td>+7921591159</td>
                            <td>Женат</td>
                        </tr>
                        <tr>
                            <td>Али Алиев</td>
                            <td>+7921591153</td>
                            <td>Не женат</td>
                        </tr>
                        <tr>
                            <td>Саслан Асланов</td>
                            <td>+792235235</td>
                            <td>Не женат</td>
                        </tr>
                        <tr>
                            <td>Бакар Мизюкин</td>
                            <td>34503945</td>
                            <td>Женат</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <hr>
                <br>
                <h2 class="uk-text-center">Черный список поставщиков</h2>
                <ul class="uk-pagination" style="margin-left: 30%">
                    <li><a href="#"><span uk-pagination-previous></span></a></li>
                    <li><a href="#">1</a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li class="uk-active"><span>7</span></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="#">20</a></li>
                    <li><a href="#"><span uk-pagination-next></span></a></li>
                </ul>
                <div class="uk-column-1-2 uk-align-center">
                    <ul uk-accordion>
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#"><span uk-icon="social" > </span> 1256<span uk-icon="arrow-down"style="color:red"></span> Сергеев Артем</a>
                            <div class="uk-accordion-content">
                                <p>Был занесен в черный список в связи с многократным неисполнением своих обязанностей, а также преждевременным расторжением контрактов</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"><span uk-icon="social" > </span> 8900<span uk-icon="arrow-down"style="color:red"></span> Андреев Андрей</a>
                            <div class="uk-accordion-content">
                                <p>Хулиган, ворюга</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"><span uk-icon="social" > </span> 34637<span uk-icon="arrow-up"style="color:green"></span> Андрей Хабарв</a>
                            <div class="uk-accordion-content">
                                <p>Был занесен в черный список в связи с многократным неисполнением своих обязанностей, а также преждевременным расторжением контрактов</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"><span uk-icon="social" > </span> 12414<span uk-icon="arrow-up"style="color:green"></span> Ларионов Андрей</a>
                            <div class="uk-accordion-content">
                                <p>Был занесен в черный список в связи с многократным неисполнением своих обязанностей, а также преждевременным расторжением контрактов</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"><span uk-icon="social" > </span> 6637<span uk-icon="arrow-down"style="color:red"></span> Аксенов Антон</a>
                            <div class="uk-accordion-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"><span uk-icon="social" > </span> 66637<span uk-icon="arrow-up"style="color:green"></span> Ненорманов Антон</a>
                            <div class="uk-accordion-content">
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"><span uk-icon="social" > </span> 40637<span uk-icon="arrow-up"style="color:green"></span> Ковшанов Котел</a>
                            <div class="uk-accordion-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"><span uk-icon="social" > </span> 26637<span uk-icon="arrow-down"style="color:red"></span> Ианов Саша</a>
                            <div class="uk-accordion-content">
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"><span uk-icon="social" > </span> 34637<span uk-icon="arrow-up"style="color:green"></span> Сидоров Ярослав</a>
                            <div class="uk-accordion-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#"><span uk-icon="social" > </span> 44637<span uk-icon="arrow-up"style="color:green"></span> Каров Кар</a>
                            <div class="uk-accordion-content">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="uk-button uk-button-default uk-align-center" href="#modal-container" uk-toggle>Сформировать отчет</a>
                <div id="modal-container" class="uk-modal-container" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <h2 class="uk-modal-title">Рейтинг поставщиков</h2>
                        <div>
                            <div>
                                <table class="uk-table">
                                    <thead>
                                    <tr>
                                        <th>Позиция Рейтинга</th>
                                        <th>Процент успешных сделок</th>
                                        <th>Имя</th>
                                        <th>Телефон</th>
                                        <th>Число сделок</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <td>1</td>
                                        <td>100%</td>
                                        <td>Сергей Викторович</td>
                                        <td>+7921591159</td>
                                        <td>958</td>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr>
                                        <td>2</td>
                                        <td>99%</td>
                                        <td>Андрей Богданов</td>
                                        <td>+79215911355</td>
                                        <td>860</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>98%</td>
                                        <td>Иван Бизнесменов</td>
                                        <td>+79215911355</td>
                                        <td>660</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>98%</td>
                                        <td>Иван Бизнесменов</td>
                                        <td>+79215911355</td>
                                        <td>560</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>97%</td>
                                        <td>Иван Бизнесменов</td>
                                        <td>+79215911355</td>
                                        <td>540</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>97%</td>
                                        <td>Кадеев Семен</td>
                                        <td>+79215911367</td>
                                        <td>480</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>95%</td>
                                        <td>Кадеев Семен</td>
                                        <td>+79215911367</td>
                                        <td>380</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>95%</td>
                                        <td>Кадеев Семен</td>
                                        <td>+79215911367</td>
                                        <td>380</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>95%</td>
                                        <td>Кадеев Семен</td>
                                        <td>+79215911367</td>
                                        <td>380</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="uk-modal-footer uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить</button>
                                <button class="uk-button uk-button-primary" type="button">Сохранить</button>
                            </div>
                        </div>
                    </div>

                    <button class="uk-button uk-button-text uk-align-center" href="#modal-otchet" uk-toggle>Сформировать отчет</button>
                </div>
            </div>
        </div>
        <div id="offcanvas-flip"uk-offcanvas="mode: push; flip: true; overlay: true">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                    <li class="uk-active"><a href="#">ООО Дайджест</a></li>
                    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                    <a href="" class="uk-icon-button" uk-icon="google-plus"></a>
                    <li class="uk-parent">
                    <li><a href="#">Мои партнеры</a>
                        <ul class="uk-nav-sub">
                            <li><a href="#">ООО Сектор</a></li>
                            <li><a href="#">ОАО Закат</a></li>
                        </ul>
                    </li>
                    <li><span class="uk-margin-small-right uk-margin-small-bottom" uk-icon="icon: clock"></span>История</li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>  Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>




    <br>

    <h3 class="text-center">
        <i class="fa fa-users"></i>
        Поставщики: {{exe.org.kontragent.name}}
        <!--<span class="pull-right">-->
        <!--<a ng-click="bzPltfmAddTab({title: 'Новый *', exe: {name: 'exe_form'}, obj:{type: 'doc_event', id: 0,}})"-->
        <!--class="btn btn-sm btn-success pull-left">Новый заказ</a>-->
        <!--</span>-->
    </h3>

    <br>

    <div class="box box-info">
        <!--<div class="box-header with-border">-->
            <!--<h3 class="box-title">Поставщики</h3>-->

            <!--<div class="box-tools pull-right">-->
                <!--&lt;!&ndash;filter&ndash;&gt;-->
                <!--<div class="input-group input-group-sm bz-filter-input" style="">-->
                    <!--<i class="fa fa-search search-icon"></i>-->
                    <!--<input ng-model="exe.filter"-->
                           <!--ng-model-options="{debounce: 400}" type="text"-->
                           <!--class="form-control search-input" placeholder="Фильтр...">-->
                    <!--<i ng-if="exe.filter" ng-click="exe.filter=''"-->
                       <!--class="close-icon"> × </i>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">

                <div ng-if="exe.loading">
                    <h1 class="text-blue text-center">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </h1>
                </div>

                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>Организация</th>
                        <th>Директор</th>
                        <th>Телефон</th>
                        <th>Адрес</th>
                        <th>ИНН</th>
                        <th>Комментарий</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr
                            style="cursor: pointer;"
                            ng-repeat="elem in exe.suppliers | filter:exe.filter"
                            ng-click="bzPltfmAddTab({title: 'Поставщик', exe: {name: 'exe_form'}, obj:{type: 'cat_kontragent', id: elem.id,}})"
                    >
                        <td>{{::elem.name}}</td>
                        <td>{{::elem.director}}</td>
                        <td>{{::elem.telefon}}</td>
                        <td>{{::elem.adres}}</td>
                        <td>{{::elem.inn}}</td>
                        <td>{{::elem.comment}}</td>

                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <!--<a ng-click="bzPltfmAddTab({title: 'Заказы', exe: {name: 'exe_journal'}, obj:{type: 'doc_event',}})"-->
            <!--href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">Журнал заказов</a>-->
        </div>
        <!-- /.box-footer -->
    </div>


</div>



